.sidebar-item:hover{
    background:rgb(230, 230, 230) !important; 
    cursor: pointer;
}

.sidebar-item span i.icon{
    margin-right: 20px;
}

.highlight-menu{
    background: rgb(205, 205, 205) !important;
}

.highlight-menu span{
    font-weight: bold;
}

.highlight-menu i.icon{
    color: red !important;
}